{"openapi":"3.0.3","info":{"title":"This is the EBRAINS KG API","description":"This is the API of the EBRAINS Knowledge Graph (commit 099480873b4e9f60019f2896ff3b279902b76418).","termsOfService":"https://kg.ebrains.eu/search-terms-of-use.html","license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://core.kg.ebrains.eu","description":"Generated server url"}],"security":[{"Authorization":[]},{"Client-Authorization":[],"Authorization":[]},{"Client-Id":[],"Client-Secret":[],"Authorization":[]},{"Client-Id":[],"Client-SA-Secret":[]}],"tags":[{"name":"1 Basic","description":"The most used end-points to interact with the EBRAINS KG"},{"name":"2 Advanced","description":"Some advanced endpoints allowing you e.g. to apply bulk manipulations and run operations which are going beyond standard meta-data management"},{"name":"3 Admin","description":"Endpoints for the administration of the EBRAINS KG. Please note, that you won't be able to invoke those endpoints unless you are a global administrator."}],"paths":{"/v3/types/specification":{"put":{"tags":["3 Admin"],"summary":"Specify a type","operationId":"createTypeDefinition","parameters":[{"name":"global","in":"query","description":"By default, the specification is only valid for the current client. If this flag is set to true (and the client/user combination has the permission), the specification is applied for all clients (unless they have defined something by themselves)","required":false,"schema":{"type":"boolean"}},{"name":"type","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NormalizedJsonLd"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["3 Admin"],"summary":"Remove a type definition","description":"Allows to deprecate a type specification","operationId":"removeTypeDefinition","parameters":[{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"global","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK"}}}},"/v3/spaces/{space}/types":{"put":{"tags":["3 Admin"],"summary":"Assign a type to a space","operationId":"assignTypeToSpace","parameters":[{"name":"space","in":"path","description":"The space be linked to or \"myspace\" for your private space","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["3 Admin"],"summary":"Remove a type in space definition","operationId":"removeTypeFromSpace","parameters":[{"name":"space","in":"path","description":"The space the type shall be removed from or \"myspace\" for your private space","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v3/spaces/{space}/specification":{"put":{"tags":["3 Admin"],"summary":"Explicitly specify a space","operationId":"createSpaceDefinition","parameters":[{"name":"space","in":"path","description":"The space the definition is valid for. Please note that you can't do so for your private space (\"myspace\")","required":true,"schema":{"type":"string"}},{"name":"autorelease","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"clientSpace","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"deferCache","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"scopeRelevant","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["3 Admin"],"summary":"Remove a space definition","operationId":"removeSpaceDefinition","parameters":[{"name":"space","in":"path","description":"The space the definition should be removed for. Please note that you can't do so for your private space (\"myspace\")","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v3/spaces/{space}/eventHistory":{"put":{"tags":["3 Admin"],"summary":"Trigger a rerun of the events of this space","operationId":"rerunEvents","parameters":[{"name":"space","in":"path","description":"The space the event rerun shall be executed for.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v3/queries/{queryId}":{"get":{"tags":["1 Basic"],"summary":"Get the query specification with the given query id in a specific space","operationId":"getQuerySpecification","parameters":[{"name":"queryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultNormalizedJsonLd"}}}}}},"put":{"tags":["1 Basic"],"summary":"Create or save a query specification","operationId":"saveQuery","parameters":[{"name":"queryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"space","in":"query","description":"Required only when the instance is created to specify where it should be stored (myspace for your private space) - but not if it's updated.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonLdDoc"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultNormalizedJsonLd"}}}}}},"delete":{"tags":["1 Basic"],"summary":"Remove a query specification","operationId":"removeQuery","parameters":[{"name":"queryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v3/properties":{"put":{"tags":["3 Admin"],"summary":"Upload a property specification either globally or for the requesting client","operationId":"defineProperty","parameters":[{"name":"global","in":"query","description":"By default, the specification is only valid for the current client. If this flag is set to true (and the client/user combination has the permission), the specification is applied for all clients (unless they have defined something by themselves)","required":false,"schema":{"type":"boolean"}},{"name":"property","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NormalizedJsonLd"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["3 Admin"],"summary":"Upload a property specification either globally or for the requesting client","operationId":"deprecateProperty","parameters":[{"name":"global","in":"query","description":"By default, the specification is only valid for the current client. If this flag is set to true (and the client/user combination has the permission), the specification is applied for all clients (unless they have defined something by themselves)","required":false,"schema":{"type":"boolean"}},{"name":"property","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v3/propertiesForType":{"put":{"tags":["3 Admin"],"summary":"Define a property specification either globally for the requesting client","operationId":"definePropertyForType","parameters":[{"name":"global","in":"query","description":"By default, the specification is only valid for the current client. If this flag is set to true (and the client/user combination has the permission), the specification is applied for all clients (unless they have defined something by themselves)","required":false,"schema":{"type":"boolean"}},{"name":"property","in":"query","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NormalizedJsonLd"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["3 Admin"],"summary":"Deprecate a property specification for a specific type either globally or for the requesting client","operationId":"deprecatePropertyForType","parameters":[{"name":"global","in":"query","description":"By default, the specification is only valid for the current client. If this flag is set to true (and the client/user combination has the permission), the specification is applied for all clients (unless they have defined something by themselves)","required":false,"schema":{"type":"boolean"}},{"name":"property","in":"query","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v3/instances/{id}":{"get":{"tags":["1 Basic"],"summary":"Get the instance","operationId":"getInstanceById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"stage","in":"query","required":true,"schema":{"type":"string","enum":["IN_PROGRESS","RELEASED"]}},{"name":"returnIncomingLinks","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"incomingLinksPageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnPayload","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnPermissions","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnAlternatives","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnEmbedded","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultNormalizedJsonLd"}}}}}},"put":{"tags":["1 Basic"],"summary":"Replace contribution to an existing instance","operationId":"contributeToInstanceFullReplacement","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"returnIncomingLinks","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"incomingLinksPageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnPayload","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnPermissions","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnAlternatives","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnEmbedded","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonLdDoc"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultNormalizedJsonLd"}}}}}},"post":{"tags":["1 Basic"],"summary":"Create new instance with a client defined id","description":"The invocation of this endpoint causes the ingestion of the payload (if valid) in the KG by using the specified UUID\n\nPlease note that any \"@id\" specified in the payload will be interpreted as an additional identifier and therefore added to the \"http://schema.org/identifier\" array.\n","operationId":"createNewInstanceWithId","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"space","in":"query","description":"The space name the instance shall be stored in or \"myspace\" if you want to store it to your private space","required":true,"schema":{"type":"string"}},{"name":"returnIncomingLinks","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"incomingLinksPageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnPayload","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnPermissions","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnAlternatives","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnEmbedded","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonLdDoc"},"examples":{"minimalistic":{"description":"The most minimal payload you could think of only contains an @type.","value":{"@type":"https://openminds.ebrains.eu/core/Person"}},"with property":{"description":"A payload can contain - next to the @type additional properties.","value":{"@type":"https://openminds.ebrains.eu/core/Person","https://openminds.ebrains.eu/vocab/givenName":"Bob"}},"with link":{"description":"To link to other instances, the JSON-LD notation can be used. Please note that you can use any \"@id\" or \"http://schema.org/identifier\" of the targeted resource to link it\n","value":{"@type":"https://openminds.ebrains.eu/core/Person","https://openminds.ebrains.eu/vocab/affiliation":[{"@id":"http://someQualifiedIdentifier/ACME_orporation"}]}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultNormalizedJsonLd"}}}}}},"delete":{"tags":["1 Basic"],"summary":"Delete an instance","operationId":"deleteInstance","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}},"patch":{"tags":["1 Basic"],"summary":"Partially update contribution to an existing instance","operationId":"contributeToInstancePartialReplacement","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"returnIncomingLinks","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"incomingLinksPageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnPayload","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnPermissions","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnAlternatives","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnEmbedded","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonLdDoc"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultNormalizedJsonLd"}}}}}}},"/v3/instances/{id}/spaces/{space}":{"put":{"tags":["1 Basic"],"summary":"Move an instance to another space","operationId":"moveInstance","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"space","in":"path","required":true,"schema":{"type":"string"}},{"name":"returnIncomingLinks","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"incomingLinksPageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnPayload","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnPermissions","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnAlternatives","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnEmbedded","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultNormalizedJsonLd"}}}}}}},"/v3/instances/{id}/release":{"put":{"tags":["1 Basic"],"summary":"Release or re-release an instance","operationId":"releaseInstance","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"revision","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}},"delete":{"tags":["1 Basic"],"summary":"Unrelease an instance","operationId":"unreleaseInstance","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The instance that has been unreleased","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"404":{"description":"Instance not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}}},"/v3/instances/{id}/invitedUsers/{userId}":{"put":{"tags":["2 Advanced"],"summary":"Create or update an invitation for the given user to review the given instance","operationId":"inviteUserForInstance","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["2 Advanced"],"summary":"Revoke an invitation for the given user to review the given instance","operationId":"revokeUserInvitation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v3/instances/{id}/invitationScope":{"put":{"tags":["3 Admin"],"summary":"Update invitation scope for this instance","operationId":"calculateInstanceInvitationScope","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/v3/health":{"get":{"tags":["3 Admin"],"operationId":"getAvailableChecks","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}},"put":{"tags":["3 Admin"],"operationId":"healthStatus","responses":{"201":{"description":"Created"}}}},"/v3/typesByName":{"post":{"tags":["2 Advanced"],"summary":"Returns the types according to the list of names - either with property information or without","operationId":"getTypesByName","parameters":[{"name":"stage","in":"query","required":true,"schema":{"type":"string","enum":["IN_PROGRESS","RELEASED"]}},{"name":"withProperties","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"withIncomingLinks","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"space","in":"query","description":"The space by which the types should be filtered or \"myspace\" for your private space.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringResultTypeInformation"}}}}}}},"/v3/spaces/{space}/inference":{"post":{"tags":["3 Admin"],"summary":"Triggers the inference of all documents of the given space","operationId":"triggerInference","parameters":[{"name":"space","in":"path","required":true,"schema":{"type":"string"}},{"name":"identifier","in":"query","required":false,"schema":{"type":"string"}},{"name":"async","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK"}}}},"/v3/queries":{"get":{"tags":["1 Basic"],"summary":"List the queries and filter them by root type and/or text in the label, name or description","operationId":"listQueriesPerRootType","parameters":[{"name":"from","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnTotalResults","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultNormalizedJsonLd"}}}}}},"post":{"tags":["1 Basic"],"summary":"Execute the query in the payload (e.g. for execution before saving with the KG QueryBuilder)","operationId":"runDynamicQuery","parameters":[{"name":"from","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnTotalResults","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"stage","in":"query","required":true,"schema":{"type":"string","enum":["IN_PROGRESS","RELEASED"]}},{"name":"instanceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"restrictToSpaces","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"allRequestParams","in":"query","required":false,"schema":{"type":"object","additionalProperties":{"type":"string"},"default":"{}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonLdDoc"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedStreamResultJsonLdDoc"}}}}}}},"/v3/jsonld/normalizedPayload":{"post":{"tags":["1 Basic"],"summary":"Normalizes the passed payload according to the EBRAINS KG conventions","operationId":"normalizePayload","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonLdDoc"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NormalizedJsonLd"}}}}}}},"/v3/instances":{"get":{"tags":["1 Basic"],"summary":"Returns a list of instances according to their types","operationId":"listInstances","parameters":[{"name":"stage","in":"query","required":true,"schema":{"type":"string","enum":["IN_PROGRESS","RELEASED"]}},{"name":"type","in":"query","required":true,"schema":{"type":"string"},"examples":{"datasetVersion":{"description":"An openminds dataset version","value":"https://openminds.ebrains.eu/core/DatasetVersion"},"person":{"description":"An openminds person","value":"https://openminds.ebrains.eu/core/Person"}}},{"name":"space","in":"query","description":"The space of the instances to be listed or \"myspace\" for your private space","required":false,"schema":{"type":"string"},"examples":{"myspace":{"description":"myspace","value":"myspace"},"dataset":{"description":"dataset","value":"dataset"}}},{"name":"searchByLabel","in":"query","required":false,"schema":{"type":"string"}},{"name":"filterProperty","in":"query","required":false,"schema":{"type":"string"}},{"name":"filterValue","in":"query","required":false,"schema":{"type":"string"}},{"name":"returnPayload","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnPermissions","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnAlternatives","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnEmbedded","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnTotalResults","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultNormalizedJsonLd"}}}}}},"post":{"tags":["1 Basic"],"summary":"Create new instance with a system generated id","description":"The invocation of this endpoint causes the ingestion of the payload (if valid) in the KG by assigning a new \"@id\" to it.\n\nPlease note that any \"@id\" specified in the payload will be interpreted as an additional identifier and therefore added to the \"http://schema.org/identifier\" array.\n","operationId":"createNewInstance","parameters":[{"name":"space","in":"query","description":"The space name the instance shall be stored in or \"myspace\" if you want to store it to your private space","required":true,"schema":{"type":"string"}},{"name":"returnIncomingLinks","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"incomingLinksPageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnPayload","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnPermissions","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnAlternatives","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnEmbedded","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonLdDoc"},"examples":{"minimalistic":{"description":"The most minimal payload you could think of only contains an @type.","value":{"@type":"https://openminds.ebrains.eu/core/Person"}},"with property":{"description":"A payload can contain - next to the @type additional properties.","value":{"@type":"https://openminds.ebrains.eu/core/Person","https://openminds.ebrains.eu/vocab/givenName":"Bob"}},"with link":{"description":"To link to other instances, the JSON-LD notation can be used. Please note that you can use any \"@id\" or \"http://schema.org/identifier\" of the targeted resource to link it\n","value":{"@type":"https://openminds.ebrains.eu/core/Person","https://openminds.ebrains.eu/vocab/affiliation":[{"@id":"http://someQualifiedIdentifier/ACME_orporation"}]}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultNormalizedJsonLd"}}}}}}},"/v3/instancesByIds":{"post":{"tags":["2 Advanced"],"summary":"Bulk operation of /instances/{id} to read instances by their UUIDs","operationId":"getInstancesByIds","parameters":[{"name":"stage","in":"query","required":true,"schema":{"type":"string","enum":["IN_PROGRESS","RELEASED"]}},{"name":"returnIncomingLinks","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"incomingLinksPageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnPayload","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnPermissions","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnAlternatives","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnEmbedded","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringResultNormalizedJsonLd"}}}}}}},"/v3/instancesByIds/release/status":{"post":{"tags":["2 Advanced"],"summary":"Get the release status for multiple instances","operationId":"getReleaseStatusByIds","parameters":[{"name":"releaseTreeScope","in":"query","required":true,"schema":{"type":"string","enum":["TOP_INSTANCE_ONLY","CHILDREN_ONLY","CHILDREN_ONLY_RESTRICTED"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"404":{"description":"Instance not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapUUIDResultReleaseStatus"}}}},"200":{"description":"The release status of the instance","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapUUIDResultReleaseStatus"}}}}}}},"/v3/instancesByIdentifiers":{"post":{"tags":["2 Advanced"],"summary":"Read instances by the given list of (external) identifiers","operationId":"getInstancesByIdentifiers","parameters":[{"name":"stage","in":"query","required":true,"schema":{"type":"string","enum":["IN_PROGRESS","RELEASED"]}},{"name":"returnIncomingLinks","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"incomingLinksPageSize","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnPayload","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnPermissions","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnAlternatives","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"returnEmbedded","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringResultNormalizedJsonLd"}}}}}}},"/v3/instances/{id}/suggestedLinksForProperty":{"get":{"tags":["2 Advanced"],"summary":"Returns suggestions for an instance to be linked by the given property (e.g. for the KG Editor). Please note: This service will return released values for \"additionalValue\" in case a user only has minimal read rights","operationId":"getSuggestedLinksForProperty_1","parameters":[{"name":"stage","in":"query","required":true,"schema":{"type":"string","enum":["IN_PROGRESS","RELEASED"]}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"property","in":"query","required":true,"schema":{"type":"string"}},{"name":"sourceType","in":"query","description":"The source type for which the given property shall be evaluated. If not provided, the API tries to figure out the type by analyzing the type of the root object of the persisted instance. Please note, that this parameter is mandatory for embedded structures.","required":false,"schema":{"type":"string"}},{"name":"targetType","in":"query","description":"The target type of the suggestions. If not provided, suggestions of all possible target types will be returned.","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnTotalResults","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultSuggestionResult"}}}}}},"post":{"tags":["2 Advanced"],"summary":"Returns suggestions for an instance to be linked by the given property (e.g. for the KG Editor) - and takes into account the passed payload (already chosen values, reflection on dependencies between properties - e.g. providing only parcellations for an already chosen brain atlas). Please note: This service will return released values for \"additionalValue\" in case a user only has minimal read rights","operationId":"getSuggestedLinksForProperty","parameters":[{"name":"stage","in":"query","required":true,"schema":{"type":"string","enum":["IN_PROGRESS","RELEASED"]}},{"name":"property","in":"query","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"sourceType","in":"query","description":"The source type for which the given property shall be evaluated. If not provided, the API tries to figure out the type by analyzing the type of the root object originating from the payload. Please note, that this parameter is mandatory for embedded structures.","required":false,"schema":{"type":"string"}},{"name":"targetType","in":"query","description":"The target type of the suggestions. If not provided, suggestions of all possible target types will be returned.","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnTotalResults","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NormalizedJsonLd"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultSuggestionResult"}}}}}}},"/v3/setup/permissions/{role}":{"get":{"tags":["3 Admin"],"operationId":"getClaimForRole","parameters":[{"name":"role","in":"path","required":true,"schema":{"type":"string","enum":["CONSUMER","REVIEWER","EDITOR","OWNER","ADMIN"]}},{"name":"space","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JsonLdDoc"}}}}}},"patch":{"tags":["3 Admin"],"operationId":"updateClaimForRole","parameters":[{"name":"role","in":"path","required":true,"schema":{"type":"string","enum":["CONSUMER","REVIEWER","EDITOR","OWNER","ADMIN"]}},{"name":"space","in":"query","required":false,"schema":{"type":"string"}},{"name":"remove","in":"query","required":true,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JsonLdDoc"}}}}}}},"/v3/users/me":{"get":{"tags":["1 Basic"],"summary":"Retrieve user information from the passed token (including detailed information such as e-mail address)","operationId":"myUserInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultUser"}}}}}}},"/v3/users/me/roles":{"get":{"tags":["2 Advanced"],"summary":"Retrieve the roles for the current user","operationId":"myRoles","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultUserWithRoles"}}}}}}},"/v3/types":{"get":{"tags":["1 Basic"],"summary":"Returns the types available - either with property information or without","operationId":"listTypes","parameters":[{"name":"stage","in":"query","required":true,"schema":{"type":"string","enum":["IN_PROGRESS","RELEASED"]}},{"name":"space","in":"query","description":"The space by which the types should be filtered or \"myspace\" for your private space.","required":false,"schema":{"type":"string"}},{"name":"withProperties","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"withIncomingLinks","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnTotalResults","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultTypeInformation"}}}}}}},"/v3/spaces":{"get":{"tags":["2 Advanced"],"operationId":"listSpaces","parameters":[{"name":"from","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnTotalResults","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"permissions","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultSpaceInformation"}}}}}}},"/v3/spaces/{space}":{"get":{"tags":["2 Advanced"],"operationId":"getSpace","parameters":[{"name":"space","in":"path","description":"The space to be read or \"myspace\" for your private space","required":true,"schema":{"type":"string"}},{"name":"permissions","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultSpaceInformation"}}}}}}},"/v3/setup/permissions":{"get":{"tags":["3 Admin"],"operationId":"getAllRoleDefinitions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JsonLdDoc"}}}}}}}},"/v3/setup/authentication":{"get":{"tags":["1 Basic"],"summary":"Get the endpoint of the configured openid configuration","operationId":"getOpenIdConfigUrl","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResultJsonLdDoc"}}}}},"security":[]}},"/v3/queries/{queryId}/instances":{"get":{"tags":["1 Basic"],"summary":"Execute a stored query to receive the instances","operationId":"executeQueryById","parameters":[{"name":"queryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnTotalResults","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"stage","in":"query","required":true,"schema":{"type":"string","enum":["IN_PROGRESS","RELEASED"]}},{"name":"instanceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"restrictToSpaces","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"allRequestParams","in":"query","required":false,"schema":{"type":"object","additionalProperties":{"type":"string"},"default":"{}"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedStreamResultJsonLdDoc"}}}}}}},"/v3/instancesWithInvitations":{"get":{"tags":["2 Advanced"],"summary":"List instances with invitations","operationId":"listInstancesWithInvitations","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListUUID"}}}}}}},"/v3/instances/{id}/scope":{"get":{"tags":["2 Advanced"],"summary":"Get the scope for the instance by its KG-internal ID","operationId":"getInstanceScope","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"stage","in":"query","required":true,"schema":{"type":"string","enum":["IN_PROGRESS","RELEASED"]}},{"name":"returnPermissions","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"applyRestrictions","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"The scope of the instance","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultScopeElement"}}}},"509":{"description":"Bandwidth Limit Exceeded","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultScopeElement"}}}},"404":{"description":"Instance not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultScopeElement"}}}}}}},"/v3/instances/{id}/release/status":{"get":{"tags":["1 Basic"],"summary":"Get the release status for an instance","operationId":"getReleaseStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"releaseTreeScope","in":"query","required":true,"schema":{"type":"string","enum":["TOP_INSTANCE_ONLY","CHILDREN_ONLY","CHILDREN_ONLY_RESTRICTED"]}}],"responses":{"404":{"description":"Instance not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultReleaseStatus"}}}},"200":{"description":"The release status of the instance","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultReleaseStatus"}}}}}}},"/v3/instances/{id}/neighbors":{"get":{"tags":["2 Advanced"],"summary":"Get the neighborhood for the instance by its KG-internal ID","operationId":"getNeighbors","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"stage","in":"query","required":true,"schema":{"type":"string","enum":["IN_PROGRESS","RELEASED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultGraphEntity"}}}}}}},"/v3/instances/{id}/invitedUsers":{"get":{"tags":["2 Advanced"],"summary":"List invitations for review for the given instance","operationId":"listInvitations","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListString"}}}}}}},"/v3/instances/{id}/incomingLinks":{"get":{"tags":["2 Advanced"],"summary":"Get incoming links for a specific instance (paginated)","operationId":"getIncomingLinks","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"stage","in":"query","required":true,"schema":{"type":"string","enum":["IN_PROGRESS","RELEASED"]}},{"name":"property","in":"query","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"returnTotalResults","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedResultNormalizedJsonLd"}}}}}}},"/v3/health/{name}":{"get":{"tags":["3 Admin"],"operationId":"getReport","parameters":[{"name":"stage","in":"query","required":true,"schema":{"type":"string","enum":["IN_PROGRESS","RELEASED"]}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DynamicJson"}}}}}}}}},"components":{"schemas":{"JsonLdId":{"type":"object","properties":{"@id":{"type":"string"}}},"NormalizedJsonLd":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/JsonLdId"},"empty":{"type":"boolean"}},"additionalProperties":{"type":"object"}},"JsonLdDoc":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/JsonLdId"},"empty":{"type":"boolean"}},"additionalProperties":{"type":"object"}},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"instanceId":{"type":"string","format":"uuid"}}},"ResultNormalizedJsonLd":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/JsonLdId"},"empty":{"type":"boolean"}},"additionalProperties":{"type":"object"}},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"ResultVoid":{"type":"object","properties":{"data":{"type":"object"},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"IncomingLink":{"type":"object","properties":{"http://schema.org/identifier":{"type":"string"},"https://core.kg.ebrains.eu/vocab/meta/sourceTypes":{"type":"array","items":{"$ref":"#/components/schemas/SourceType"}}}},"Property":{"type":"object","properties":{"empty":{"type":"boolean"},"http://schema.org/description":{"type":"string"},"http://schema.org/identifier":{"type":"string"},"http://schema.org/name":{"type":"string"},"https://core.kg.ebrains.eu/vocab/meta/nameForReverseLink":{"type":"string"},"https://core.kg.ebrains.eu/vocab/meta/occurrences":{"type":"integer","format":"int32"},"https://core.kg.ebrains.eu/vocab/meta/targetTypes":{"type":"array","items":{"$ref":"#/components/schemas/TargetType"}}},"additionalProperties":{"type":"object"}},"ResultMapStringResultTypeInformation":{"type":"object","properties":{"data":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ResultTypeInformation"}},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"ResultTypeInformation":{"type":"object","properties":{"data":{"type":"object","properties":{"empty":{"type":"boolean"},"http://schema.org/description":{"type":"string"},"http://schema.org/identifier":{"type":"string"},"http://schema.org/name":{"type":"string"},"https://core.kg.ebrains.eu/vocab/meta/incomingLinks":{"type":"array","items":{"$ref":"#/components/schemas/IncomingLink"}},"https://core.kg.ebrains.eu/vocab/meta/occurrences":{"type":"integer","format":"int32"},"https://core.kg.ebrains.eu/vocab/meta/properties":{"type":"array","items":{"$ref":"#/components/schemas/Property"}},"https://core.kg.ebrains.eu/vocab/meta/spaces":{"type":"array","items":{"$ref":"#/components/schemas/SpaceTypeInformation"}}},"additionalProperties":{"type":"object"}},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"SourceType":{"type":"object","properties":{"https://core.kg.ebrains.eu/vocab/meta/spaces":{"type":"array","items":{"$ref":"#/components/schemas/SpaceReference"}},"https://core.kg.ebrains.eu/vocab/meta/type":{"type":"string"}}},"SpaceReference":{"type":"object","properties":{"https://core.kg.ebrains.eu/vocab/meta/occurrences":{"type":"integer","format":"int32"},"https://core.kg.ebrains.eu/vocab/meta/space":{"type":"string"}}},"SpaceTypeInformation":{"type":"object","properties":{"https://core.kg.ebrains.eu/vocab/meta/occurrences":{"type":"integer","format":"int32"},"https://core.kg.ebrains.eu/vocab/meta/properties":{"type":"array","items":{"$ref":"#/components/schemas/Property"}},"https://core.kg.ebrains.eu/vocab/meta/space":{"type":"string"}}},"TargetType":{"type":"object","properties":{"https://core.kg.ebrains.eu/vocab/meta/occurrences":{"type":"integer","format":"int32"},"https://core.kg.ebrains.eu/vocab/meta/spaces":{"type":"array","items":{"$ref":"#/components/schemas/SpaceReference"}},"https://core.kg.ebrains.eu/vocab/meta/type":{"type":"string"}}},"TypeInformation":{"type":"object","properties":{"empty":{"type":"boolean"},"http://schema.org/description":{"type":"string"},"http://schema.org/identifier":{"type":"string"},"http://schema.org/name":{"type":"string"},"https://core.kg.ebrains.eu/vocab/meta/incomingLinks":{"type":"array","items":{"$ref":"#/components/schemas/IncomingLink"}},"https://core.kg.ebrains.eu/vocab/meta/occurrences":{"type":"integer","format":"int32"},"https://core.kg.ebrains.eu/vocab/meta/properties":{"type":"array","items":{"$ref":"#/components/schemas/Property"}},"https://core.kg.ebrains.eu/vocab/meta/spaces":{"type":"array","items":{"$ref":"#/components/schemas/SpaceTypeInformation"}}},"additionalProperties":{"type":"object"}},"PaginatedStreamResultJsonLdDoc":{"type":"object","properties":{"data":{"type":"object","properties":{"parallel":{"type":"boolean"}}},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"from":{"type":"integer","format":"int64"}}},"ResultMapStringResultNormalizedJsonLd":{"type":"object","properties":{"data":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ResultNormalizedJsonLd"}},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"ResultMapUUIDResultReleaseStatus":{"type":"object","properties":{"data":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ResultReleaseStatus"}},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"ResultReleaseStatus":{"type":"object","properties":{"data":{"type":"string","enum":["RELEASED","UNRELEASED","HAS_CHANGED"]},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"PaginatedSuggestedLink":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/SuggestedLink"}},"totalResults":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"from":{"type":"integer","format":"int64"}}},"ResultSuggestionResult":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/SuggestionResult"},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"SuggestedLink":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"label":{"type":"string"},"type":{"type":"string"},"space":{"type":"string"},"additionalInformation":{"type":"string"}}},"SuggestionResult":{"type":"object","properties":{"suggestions":{"$ref":"#/components/schemas/PaginatedSuggestedLink"},"types":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/TypeInformation"}}}},"ResultUser":{"type":"object","properties":{"data":{"type":"object","properties":{"givenName":{"type":"string"},"familyName":{"type":"string"},"userName":{"type":"string"},"email":{"type":"string"},"nativeId":{"type":"string"},"displayName":{"type":"string"},"id":{"$ref":"#/components/schemas/JsonLdId"},"empty":{"type":"boolean"}},"additionalProperties":{"type":"object"}},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"FunctionalityInstance":{"type":"object","properties":{"functionality":{"type":"string","enum":["MINIMAL_READ","MINIMAL_READ_RELEASED","MANAGE_SPACE","RERUN_EVENTS_FOR_SPACE","INVITE_FOR_REVIEW","INVITE_FOR_SUGGESTION","LIST_INVITATIONS","UPDATE_INVITATIONS","READ_RELEASED","READ","RELEASE_STATUS","SUGGEST","WRITE","CREATE","RELEASE","UNRELEASE","DELETE","LIST_USERS","LIST_USERS_LIMITED","DEFINE_TYPES_AND_PROPERTIES","READ_CLIENT","READ_CLIENT_PERMISSION","CREATE_CLIENT_PERMISSION","DELETE_CLIENT_PERMISSION","READ_PERMISSION","CREATE_PERMISSION","DELETE_PERMISSION","DEFINE_TERMS_OF_USE","DEFINE_PUBLIC_SPACE","DEFINE_SCOPE_RELEVANT_SPACE","CHECK_HEALTH_STATUS"]},"space":{"$ref":"#/components/schemas/SpaceName"},"id":{"type":"string","format":"uuid"},"instanceId":{"$ref":"#/components/schemas/InstanceId"}}},"InstanceId":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"space":{"$ref":"#/components/schemas/SpaceName"},"unresolved":{"type":"boolean"}}},"ResultUserWithRoles":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/UserWithRoles"},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"SpaceName":{"type":"object","properties":{"name":{"type":"string"},"wildcard":{"type":"boolean"}}},"UserWithRoles":{"type":"object","properties":{"user":{"type":"object","properties":{"givenName":{"type":"string"},"familyName":{"type":"string"},"userName":{"type":"string"},"email":{"type":"string"},"nativeId":{"type":"string"},"displayName":{"type":"string"},"id":{"$ref":"#/components/schemas/JsonLdId"},"empty":{"type":"boolean"}},"additionalProperties":{"type":"object"}},"invitations":{"type":"array","items":{"type":"string","format":"uuid"}},"clientId":{"type":"string"},"permissions":{"type":"array","items":{"$ref":"#/components/schemas/FunctionalityInstance"}},"privateSpace":{"$ref":"#/components/schemas/SpaceName"}}},"PaginatedResultTypeInformation":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TypeInformation"}},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"from":{"type":"integer","format":"int64"}}},"PaginatedResultSpaceInformation":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/SpaceInformation"}},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"from":{"type":"integer","format":"int64"}}},"SpaceInformation":{"type":"object","properties":{"empty":{"type":"boolean"},"http://schema.org/identifier":{"type":"string"},"http://schema.org/name":{"type":"string"},"https://core.kg.ebrains.eu/vocab/meta/permissions":{"type":"array","items":{"type":"string","enum":["MINIMAL_READ","MINIMAL_READ_RELEASED","MANAGE_SPACE","RERUN_EVENTS_FOR_SPACE","INVITE_FOR_REVIEW","INVITE_FOR_SUGGESTION","LIST_INVITATIONS","UPDATE_INVITATIONS","READ_RELEASED","READ","RELEASE_STATUS","SUGGEST","WRITE","CREATE","RELEASE","UNRELEASE","DELETE","LIST_USERS","LIST_USERS_LIMITED","DEFINE_TYPES_AND_PROPERTIES","READ_CLIENT","READ_CLIENT_PERMISSION","CREATE_CLIENT_PERMISSION","DELETE_CLIENT_PERMISSION","READ_PERMISSION","CREATE_PERMISSION","DELETE_PERMISSION","DEFINE_TERMS_OF_USE","DEFINE_PUBLIC_SPACE","DEFINE_SCOPE_RELEVANT_SPACE","CHECK_HEALTH_STATUS"]}}},"additionalProperties":{"type":"object"}},"ResultSpaceInformation":{"type":"object","properties":{"data":{"type":"object","properties":{"empty":{"type":"boolean"},"http://schema.org/identifier":{"type":"string"},"http://schema.org/name":{"type":"string"},"https://core.kg.ebrains.eu/vocab/meta/permissions":{"type":"array","items":{"type":"string","enum":["MINIMAL_READ","MINIMAL_READ_RELEASED","MANAGE_SPACE","RERUN_EVENTS_FOR_SPACE","INVITE_FOR_REVIEW","INVITE_FOR_SUGGESTION","LIST_INVITATIONS","UPDATE_INVITATIONS","READ_RELEASED","READ","RELEASE_STATUS","SUGGEST","WRITE","CREATE","RELEASE","UNRELEASE","DELETE","LIST_USERS","LIST_USERS_LIMITED","DEFINE_TYPES_AND_PROPERTIES","READ_CLIENT","READ_CLIENT_PERMISSION","CREATE_CLIENT_PERMISSION","DELETE_CLIENT_PERMISSION","READ_PERMISSION","CREATE_PERMISSION","DELETE_PERMISSION","DEFINE_TERMS_OF_USE","DEFINE_PUBLIC_SPACE","DEFINE_SCOPE_RELEVANT_SPACE","CHECK_HEALTH_STATUS"]}}},"additionalProperties":{"type":"object"}},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"ResultJsonLdDoc":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/JsonLdId"},"empty":{"type":"boolean"}},"additionalProperties":{"type":"object"}},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"PaginatedResultNormalizedJsonLd":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/NormalizedJsonLd"}},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"from":{"type":"integer","format":"int64"}}},"ResultListUUID":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string","format":"uuid"}},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"ResultScopeElement":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ScopeElement"},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"ScopeElement":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"label":{"type":"string"},"space":{"type":"string"},"internalId":{"type":"string"},"types":{"type":"array","items":{"type":"string"}},"children":{"type":"array","items":{"$ref":"#/components/schemas/ScopeElement"}},"permissions":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["MINIMAL_READ","MINIMAL_READ_RELEASED","MANAGE_SPACE","RERUN_EVENTS_FOR_SPACE","INVITE_FOR_REVIEW","INVITE_FOR_SUGGESTION","LIST_INVITATIONS","UPDATE_INVITATIONS","READ_RELEASED","READ","RELEASE_STATUS","SUGGEST","WRITE","CREATE","RELEASE","UNRELEASE","DELETE","LIST_USERS","LIST_USERS_LIMITED","DEFINE_TYPES_AND_PROPERTIES","READ_CLIENT","READ_CLIENT_PERMISSION","CREATE_CLIENT_PERMISSION","DELETE_CLIENT_PERMISSION","READ_PERMISSION","CREATE_PERMISSION","DELETE_PERMISSION","DEFINE_TERMS_OF_USE","DEFINE_PUBLIC_SPACE","DEFINE_SCOPE_RELEVANT_SPACE","CHECK_HEALTH_STATUS"]}}}},"GraphEntity":{"type":"object","properties":{"id":{"type":"string"},"types":{"type":"array","items":{"type":"string"}},"name":{"type":"string"},"space":{"type":"string"},"inbound":{"type":"array","items":{"$ref":"#/components/schemas/GraphEntity"}},"outbound":{"type":"array","items":{"$ref":"#/components/schemas/GraphEntity"}}}},"ResultGraphEntity":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/GraphEntity"},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"ResultListString":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}},"message":{"type":"string"},"error":{"$ref":"#/components/schemas/Error"},"startTime":{"type":"integer","format":"int64"},"durationInMs":{"type":"integer","format":"int64"}}},"DynamicJson":{"type":"object","properties":{"empty":{"type":"boolean"}},"additionalProperties":{"type":"object"}}},"securitySchemes":{"Authorization":{"type":"oauth2","description":"The user authentication","flows":{"authorizationCode":{"authorizationUrl":"https://iam.ebrains.eu/auth/realms/hbp/protocol/openid-connect/auth","tokenUrl":"https://iam.ebrains.eu/auth/realms/hbp/protocol/openid-connect/token","refreshUrl":"https://iam.ebrains.eu/auth/realms/hbp/protocol/openid-connect/token"}}},"Client-Authorization":{"type":"apiKey","description":"The bearer token for the service account to contextualize the authentication to this client. If you don't know what this is about and just want to test the API, just leave it blank. :)","name":"Client-Authorization","in":"header"}}}}