{"openapi":"3.0.0","info":{"title":"EBRAINS Data Proxy API","description":"<h1>API guidelines</h1>\n    <h2>Authentication</h2>\n        To use this API you need to authenticate through an <b>Authorization</b> header.\n        As an individual, you can authentication using the <a href=\"#/auth/get_token_auth_token_post\">authentication endpoint</a>.\n        As a third party integration, you need to register you application as a client against EBRAINS keycloak.","version":"1.0.0","x-logo":{"url":"https://neurorobotics.net/images/user-images/EBRAINS_logo.png"}},"servers":[{"url":"https://data-proxy.ebrains.eu//api"},{"url":"https://data-proxy-dev.ebrains.eu//api","description":"Dev env"},{"url":"https://data-proxy-int.ebrains.eu//api","description":"Int env"},{"url":"https://data-proxy-ppd.ebrains.eu//api","description":"Ppd env"},{"url":"https://data-proxy.ebrains.eu//api","description":"Prod env"}],"paths":{"/permalinks":{"get":{"tags":["permalinks"],"summary":"List permalinks","operationId":"list_permalinks","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","description":"name of the bucket","in":"query"},{"required":false,"schema":{"type":"string","title":"Object Name"},"name":"object_name","description":"name of the object. If none, will return all permalinks associated with the bucket","in":"query"},{"required":false,"schema":{"type":"integer","title":"Offset","default":0},"name":"offset","description":"offset of the search","in":"query"},{"required":false,"schema":{"type":"integer","title":"Limit","default":20},"name":"limit","description":"number of results","in":"query"},{"required":false,"schema":{"type":"boolean","title":"Revoked","default":false},"name":"revoked","description":"returns deleted or active permalinks. If none, returns both.","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/PermalinkModel"},"type":"array","title":"Response Get Permalinks Permalinks Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"post":{"tags":["permalinks"],"summary":"Creates a shareable permanent link to a bucket object","operationId":"create_permalink","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermalinkCreate"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermalinkModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/permalinks/{permalink_id}":{"get":{"tags":["permalinks"],"summary":"Access a permalink resource. The user is redirected to the object download link.","operationId":"access_permalink_resource","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Permalink Id"},"name":"permalink_id","description":"id of the permalink","in":"path"},{"required":false,"schema":{"type":"boolean","title":"Inline","default":false},"name":"inline","in":"query"}],"responses":{"307":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["permalinks"],"summary":"Updates a shareable permanent link to a bucket object","operationId":"update_permalink","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Permalink Id"},"name":"permalink_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermalinkUpdateForm"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermalinkModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"delete":{"tags":["permalinks"],"summary":"Delete a permalink.","operationId":"delete_permalink","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Permalink Id"},"name":"permalink_id","description":"id of the permalink","in":"path"}],"responses":{"200":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/permalinks":{"get":{"tags":["deprecated"],"summary":"List permalinks","description":"DEPRECATED, please use the same method, but without the version prefix, \"\\/v1\", in the path.","operationId":"get_permalinks_v1_permalinks_get","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","in":"query"},{"required":false,"schema":{"type":"string","title":"Object Name"},"name":"object_name","in":"query"},{"required":false,"schema":{"type":"integer","title":"Offset","default":0},"name":"offset","in":"query"},{"required":false,"schema":{"type":"integer","title":"Limit","default":20},"name":"limit","in":"query"},{"required":false,"schema":{"type":"boolean","title":"Revoked","default":false},"name":"revoked","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/PermalinkModel"},"type":"array","title":"Response Get Permalinks V1 Permalinks Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"HTTPBearer":[]}]},"post":{"tags":["deprecated"],"summary":"Creates a shareable permanent link to a bucket object","description":"DEPRECATED, please use the same method, but without the version prefix, \"/v1\", in the path.","operationId":"create_permalink_v1_permalinks_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermalinkCreate"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermalinkModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"HTTPBearer":[]}]}},"/v1/permalinks/{permalink_id}":{"get":{"tags":["deprecated"],"summary":"Access a permalink resource. The user is redirected to the object download link.","description":"DEPRECATED, please use the same method, but without the version prefix, \"/v1\", in the path.","operationId":"access_permalink_ressource_v1_permalinks__permalink_id__get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Permalink Id"},"name":"permalink_id","in":"path"},{"required":false,"schema":{"type":"boolean","title":"Inline","default":false},"name":"inline","in":"query"}],"responses":{"307":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true},"put":{"tags":["deprecated"],"summary":"Updates a shareable permanent link to a bucket object","description":"DEPRECATED, please use the same method, but without the version prefix, \"/v1\", in the path.","operationId":"update_permalink_v1_permalinks__permalink_id__put","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Permalink Id"},"name":"permalink_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermalinkUpdateForm"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermalinkModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"HTTPBearer":[]}]},"delete":{"tags":["deprecated"],"summary":"Delete a permalink.","description":"DEPRECATED, please use the same method, but without the version prefix, \"/v1\", in the path.","operationId":"delete_permalink_ressource_v1_permalinks__permalink_id__delete","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Permalink Id"},"name":"permalink_id","in":"path"}],"responses":{"200":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"HTTPBearer":[]}]}},"/v1/public/buckets/{bucket_name}/stat":{"get":{"tags":["deprecated"],"summary":"Get bucket stats","description":"DEPRECATED, please use the corresponding method without \"public\" with optional authentication","operationId":"bucket_stat_v1_public_buckets__bucket_name__stat_get","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerStatResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"HTTPBearer":[]}]}},"/v1/public/buckets/{bucket_name}":{"get":{"tags":["deprecated"],"summary":"List objects in the bucket","description":"DEPRECATED, please use the corresponding method without \"public\" with optional authentication","operationId":"list_bucket_objects_v1_public_buckets__bucket_name__get","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","in":"path"},{"required":false,"schema":{"type":"string","title":"Prefix"},"name":"prefix","in":"query"},{"required":false,"schema":{"type":"string","title":"Delimiter"},"name":"delimiter","in":"query"},{"required":false,"schema":{"type":"string","title":"Marker"},"name":"marker","in":"query"},{"required":false,"schema":{"type":"integer","title":"Limit","default":50},"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwiftApiResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"HTTPBearer":[]}]}},"/v1/public/buckets/{bucket_name}/{object_name}":{"get":{"tags":["deprecated"],"summary":"Get a download url for an object in the bucket.","description":"DEPRECATED, please use the corresponding method without \"public\" with optional authentication","operationId":"download_bucket_v1_public_buckets__bucket_name___object_name__get","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","in":"path"},{"required":true,"schema":{"type":"string","title":"Object Name"},"name":"object_name","in":"path"},{"required":false,"schema":{"type":"boolean","title":"Inline","default":false},"name":"inline","in":"query"},{"description":"The time to live in seconds of the returned temporary URL. Please note that this parameter can only be set by administrators of the bucket. For everyone else, the system will chose a predefined duration.","required":false,"schema":{"type":"integer","title":"Ttl","description":"The time to live in seconds of the returned temporary URL. Please note that this parameter can only be set by administrators of the bucket. For everyone else, the system will chose a predefined duration."},"name":"ttl","in":"query"},{"description":"DEPRECATED: It is planned to remove this functionality in the next version of the API. To be compatible already, please set \"redirect\" to false. In the current implementation, this parameter is only allowed for non-authenticated calls. If a call is made with an authentication header with redirect=true, a 400 (Bad request) is thrown","required":false,"deprecated":true,"schema":{"type":"boolean","title":"Redirect","description":"DEPRECATED: It is planned to remove this functionality in the next version of the API. To be compatible already, please set \"redirect\" to false. In the current implementation, this parameter is only allowed for non-authenticated calls. If a call is made with an authentication header with redirect=true, a 400 (Bad request) is thrown","default":true},"name":"redirect","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TempUrlResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"HTTPBearer":[]}]}},"/v1/public/datasets/{dataset_id}/stat":{"get":{"tags":["deprecated"],"summary":"Get dataset stats","description":"DEPRECATED, please use the corresponding method without \"public\" with optional authentication","operationId":"dataset_stat_v1_public_datasets__dataset_id__stat_get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Dataset Id"},"name":"dataset_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerStat"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"HTTPBearer":[]}]}},"/v1/public/datasets/{dataset_id}":{"get":{"tags":["deprecated"],"summary":"List objects in the dataset","description":"DEPRECATED, please use the corresponding method without \"public\" with optional authentication","operationId":"get_dataset_v1_public_datasets__dataset_id__get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Dataset Id"},"name":"dataset_id","in":"path"},{"required":false,"schema":{"type":"string","title":"Prefix"},"name":"prefix","in":"query"},{"required":false,"schema":{"type":"string","title":"Delimiter"},"name":"delimiter","in":"query"},{"required":false,"schema":{"type":"string","title":"Marker"},"name":"marker","in":"query"},{"required":false,"schema":{"type":"integer","title":"Limit","default":50},"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"HTTPBearer":[]}]}},"/v1/public/datasets/{dataset_id}/{object_name}":{"get":{"tags":["deprecated"],"summary":"Get a download url for an object in the dataset.","description":"DEPRECATED, please use the corresponding method without \"public\" with optional authentication","operationId":"download_dataset_object_v1_public_datasets__dataset_id___object_name__get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Dataset Id"},"name":"dataset_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Object Name"},"name":"object_name","in":"path"},{"required":false,"schema":{"type":"boolean","title":"Inline","default":false},"name":"inline","in":"query"},{"required":false,"schema":{"type":"boolean","title":"Redirect","default":true},"name":"redirect","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TempUrlResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"HTTPBearer":[]}]}},"/v1/datasets/{dataset_id}/stat":{"get":{"tags":["datasets"],"summary":"Get bucket stats (optional authentication)","description":"This endpoint can be executed either with or without authentication header. Please note that without authentication header, only public resources are accessible.","operationId":"get_bucket_stats","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Dataset Id"},"name":"dataset_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerStat"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/datasets/{dataset_id}":{"get":{"tags":["datasets"],"summary":"List objects in the dataset (optional authentication)","description":"This endpoint can be executed either with or without authentication header. Please note that without authentication header, only public resources are accessible.","operationId":"list_dataset_objects","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Dataset Id"},"name":"dataset_id","in":"path"},{"required":false,"schema":{"type":"string","title":"Prefix"},"name":"prefix","in":"query"},{"required":false,"schema":{"type":"string","title":"Delimiter"},"name":"delimiter","in":"query"},{"required":false,"schema":{"type":"string","title":"Marker"},"name":"marker","in":"query"},{"required":false,"schema":{"type":"integer","title":"Limit","default":50},"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"post":{"tags":["datasets"],"summary":"Request access for a dataset. Works for controlled access datasets","operationId":"request_dataset_access","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Dataset Id"},"name":"dataset_id","description":"dataset to get tos from","in":"path"},{"required":false,"schema":{"type":"string","title":"Redirect Uri"},"name":"redirect_uri","description":"uri you want to redirect your user to after the acceptance of the tos","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/datasets/{dataset_id}/{object_name}":{"get":{"tags":["datasets"],"summary":"Get a download url for an object in the dataset. (optional authentication)","description":"This endpoint can be executed either with or without authentication header. Please note that without authentication header, only public resources are accessible.","operationId":"download_dataset_object","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Dataset Id"},"name":"dataset_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Object Name"},"name":"object_name","in":"path"},{"required":false,"schema":{"type":"boolean","title":"Inline","default":false},"name":"inline","in":"query"},{"required":false,"schema":{"type":"boolean","title":"Redirect","default":true},"name":"redirect","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TempUrlResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/buckets":{"get":{"tags":["buckets"],"summary":"List available buckets","description":"This endpoint can be executed either with or without authentication header. Please note that without authentication header, only public resources are accessible.","operationId":"list_buckets","parameters":[{"required":false,"schema":{"type":"string","title":"Search"},"name":"search","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/BucketListEntry"},"type":"array","title":"Response List Buckets V1 Buckets Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"post":{"tags":["buckets"],"summary":"Init a bucket","operationId":"create_bucket","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBucketPayload"}}},"required":true},"responses":{"200":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/buckets/{bucket_name}":{"get":{"tags":["buckets"],"summary":"List objects in the bucket (optional authentication)","description":"This endpoint can be executed either with or without authentication header. Please note that without authentication header, only public resources are accessible.","operationId":"list_bucket_objects","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","in":"path"},{"required":false,"schema":{"type":"string","title":"Prefix"},"name":"prefix","in":"query"},{"required":false,"schema":{"type":"string","title":"Delimiter"},"name":"delimiter","in":"query"},{"required":false,"schema":{"type":"string","title":"Marker"},"name":"marker","in":"query"},{"required":false,"schema":{"type":"integer","title":"Limit","default":50},"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwiftApiResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"put":{"tags":["buckets"],"summary":"Update a bucket","operationId":"update_bucket","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBucketPayload"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerStatResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"delete":{"tags":["buckets"],"summary":"Delete container","operationId":"delete_bucket","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","description":"name of the bucket","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/buckets/{bucket_name}/stat":{"get":{"tags":["buckets"],"summary":"Get bucket stats (optional authentication)","description":"This endpoint can be executed either with or without authentication header. Please note that without authentication header, only public resources are accessible.","operationId":"get_bucket_stat","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerStatResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/buckets/{bucket_name}/init":{"post":{"tags":["deprecated"],"summary":"Deprecated. Please use the /buckets endpoint. Create the bucket. By default, the collab bucket is not created.","operationId":"bucket_init_v1_buckets__bucket_name__init_post","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","in":"path"}],"responses":{"200":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"HTTPBearer":[]}]}},"/v1/buckets/{bucket_name}/copy":{"put":{"tags":["buckets"],"summary":"Copy whole bucket content to another bucket. The copy overrides existing data in the destination container.","operationId":"copy_bucket","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","description":"name of the bucket","in":"path"},{"required":true,"schema":{"type":"string","title":"To"},"name":"to","description":"name of the destination bucket to copy the object to","in":"query"}],"responses":{"200":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/buckets/{bucket_name}/{object_name}/copy":{"put":{"tags":["buckets"],"summary":"Copy an object in the same or to another bucket. The copy overrides existing data in the destination container. If you want to copy a directory, please specify so by terminating the object_name with a \"/\"","operationId":"copy_object","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","description":"name of the bucket","in":"path"},{"required":true,"schema":{"type":"string","title":"Object Name"},"name":"object_name","description":"name of the object","in":"path"},{"required":false,"schema":{"type":"string","title":"To"},"name":"to","description":"name of the destination bucket to copy the object to","in":"query"},{"required":false,"schema":{"type":"string","title":"Name"},"name":"name","in":"query"}],"responses":{"200":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/buckets/{bucket_name}/{object_name}":{"get":{"tags":["buckets"],"summary":"Get a download url for an object in the bucket. (optional authentication)","description":"This endpoint can be executed either with or without authentication header. Please note that without authentication header, only public resources are accessible. Also, the redirect mechanism is only available for public resources.","operationId":"get_download_url","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","in":"path"},{"required":true,"schema":{"type":"string","title":"Object Name"},"name":"object_name","in":"path"},{"required":false,"schema":{"type":"boolean","title":"Inline","default":false},"name":"inline","in":"query"},{"description":"The time to live in seconds of the returned temporary URL. Please note that this parameter can only be set by administrators of the bucket. For everyone else, the system will chose a predefined duration.","required":false,"schema":{"type":"integer","title":"Ttl","description":"The time to live in seconds of the returned temporary URL. Please note that this parameter can only be set by administrators of the bucket. For everyone else, the system will chose a predefined duration."},"name":"ttl","in":"query"},{"description":"DEPRECATED: It is planned to remove this functionality in the next version of the API. To be compatible already, please set \"redirect\" to false. In the current implementation, this parameter is only allowed for non-authenticated calls. If a call is made with an authentication header with redirect=true, a 400 (Bad request) is thrown","required":false,"deprecated":true,"schema":{"type":"boolean","title":"Redirect","description":"DEPRECATED: It is planned to remove this functionality in the next version of the API. To be compatible already, please set \"redirect\" to false. In the current implementation, this parameter is only allowed for non-authenticated calls. If a call is made with an authentication header with redirect=true, a 400 (Bad request) is thrown","default":true},"name":"redirect","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TempUrlResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"put":{"tags":["buckets"],"summary":"Get an upload url for an object in the bucket.","operationId":"get_upload_url","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","description":"name of the bucket","in":"path"},{"required":true,"schema":{"type":"string","title":"Object Name"},"name":"object_name","description":"name of the object","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TempUrlResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"delete":{"tags":["buckets"],"summary":"Delete the object in the bucket. If you want to delete a directory, please specify so by terminating the object_name with a \"/\"","operationId":"delete_object","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","description":"name of the bucket","in":"path"},{"required":true,"schema":{"type":"string","title":"Object Name"},"name":"object_name","description":"name of the object","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]},"patch":{"tags":["buckets"],"summary":"Rename an object in a specified bucket. The process overrides existing data in the same container and delete the initial data. If you want to rename a directory, please specify so by terminating the object_name with a \"/\"","operationId":"rename_object","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","in":"path"},{"required":true,"schema":{"type":"string","title":"Object Name"},"name":"object_name","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenameObjectPayload"}}},"required":true},"responses":{"200":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/acl/{bucket_name}":{"post":{"tags":["acl"],"summary":"Update Bucket Acl","operationId":"update_bucket_acl","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","in":"path"},{"required":true,"schema":{"$ref":"#/components/schemas/AclAccessType"},"name":"access_type","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/admin/buckets/{bucket_name}/acl":{"get":{"tags":["admin"],"summary":"Get Bucket Acl","operationId":"get_bucket_acl","parameters":[{"required":true,"schema":{"type":"string","title":"Bucket Name"},"name":"bucket_name","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}}},"components":{"schemas":{"AclAccessType":{"type":"string","enum":["read","write"],"title":"AclAccessType","description":"An enumeration."},"BucketListEntry":{"properties":{"name":{"type":"string","title":"Name"},"role":{"$ref":"#/components/schemas/UserRole"},"is_public":{"type":"boolean","title":"Is Public"}},"type":"object","required":["name","is_public"],"title":"BucketListEntry"},"ContainerStat":{"properties":{"name":{"type":"string","title":"Name"},"objects_count":{"type":"integer","title":"Objects Count"},"bytes":{"type":"integer","title":"Bytes"},"last_modified":{"type":"string","title":"Last Modified"}},"type":"object","required":["name","objects_count","bytes"],"title":"ContainerStat"},"ContainerStatResponse":{"properties":{"name":{"type":"string","title":"Name"},"objects_count":{"type":"integer","title":"Objects Count"},"bytes":{"type":"integer","title":"Bytes"},"last_modified":{"type":"string","title":"Last Modified"},"is_public":{"type":"boolean","title":"Is Public"},"role":{"$ref":"#/components/schemas/UserRole"},"is_initialized":{"type":"boolean","title":"Is Initialized"}},"type":"object","required":["name","objects_count","bytes","is_public","role","is_initialized"],"title":"ContainerStatResponse"},"CreateBucketPayload":{"properties":{"bucket_name":{"type":"string","title":"Bucket Name"}},"type":"object","required":["bucket_name"],"title":"CreateBucketPayload"},"DeleteResponse":{"properties":{"failures":{"items":{"type":"string"},"type":"array","title":"Failures"},"number_of_removals":{"type":"integer","title":"Number Of Removals"}},"type":"object","required":["failures","number_of_removals"],"title":"DeleteResponse"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"PermalinkCreate":{"properties":{"object_name":{"type":"string","title":"Object Name"},"bucket_name":{"type":"string","title":"Bucket Name"},"description":{"type":"string","title":"Description"}},"type":"object","required":["object_name","bucket_name"],"title":"PermalinkCreate"},"PermalinkModel":{"properties":{"entity_id":{"type":"string","format":"uuid","title":"Entity Id"},"bucket_name":{"type":"string","title":"Bucket Name"},"object_name":{"type":"string","title":"Object Name"},"description":{"type":"string","title":"Description"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"last_accessed_at":{"type":"string","format":"date-time","title":"Last Accessed At"},"issuer":{"type":"string","title":"Issuer"},"revoked":{"type":"boolean","title":"Revoked"}},"type":"object","required":["entity_id","bucket_name","object_name","created_at","last_accessed_at","issuer","revoked"],"title":"PermalinkModel"},"PermalinkUpdateForm":{"properties":{"object_name":{"type":"string","title":"Object Name"}},"type":"object","required":["object_name"],"title":"PermalinkUpdateForm"},"RenameObjectPayload":{"properties":{"rename":{"$ref":"#/components/schemas/RenameObjectSetting"}},"type":"object","required":["rename"],"title":"RenameObjectPayload"},"RenameObjectSetting":{"properties":{"target_name":{"type":"string","title":"Target Name"}},"type":"object","required":["target_name"],"title":"RenameObjectSetting"},"SwiftApiResponse":{"properties":{"objects":{"items":{"anyOf":[{"$ref":"#/components/schemas/SwiftObject"},{"$ref":"#/components/schemas/SwiftDirWithObjectsResponse"}]},"type":"array","title":"Objects"},"container":{"type":"string","title":"Container"},"prefix":{"type":"string","title":"Prefix"},"delimiter":{"type":"string","title":"Delimiter"},"marker":{"type":"string","title":"Marker"},"limit":{"type":"integer","title":"Limit"}},"type":"object","required":["objects","container"],"title":"SwiftApiResponse"},"SwiftDirWithObjectsResponse":{"properties":{"subdir":{"type":"string","title":"Subdir"},"bytes":{"type":"integer","title":"Bytes"},"last_modified":{"type":"string","title":"Last Modified"},"objects_count":{"type":"integer","title":"Objects Count"}},"type":"object","required":["subdir"],"title":"SwiftDirWithObjectsResponse"},"SwiftObject":{"properties":{"hash":{"type":"string","title":"Hash"},"last_modified":{"type":"string","title":"Last Modified"},"bytes":{"type":"integer","title":"Bytes"},"name":{"type":"string","title":"Name"},"content_type":{"type":"string","title":"Content Type"}},"type":"object","required":["hash","last_modified","bytes","name","content_type"],"title":"SwiftObject"},"TempUrlResponse":{"properties":{"url":{"type":"string","title":"Url"}},"type":"object","required":["url"],"title":"TempUrlResponse"},"UpdateBucketPayload":{"properties":{"is_public":{"type":"boolean","title":"Is Public"}},"type":"object","required":["is_public"],"title":"UpdateBucketPayload"},"UserRole":{"type":"string","enum":["administrator","editor","viewer"],"title":"UserRole","description":"An enumeration."},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"HTTPBearer":{"type":"http","scheme":"bearer"}}},"tags":[{"name":"buckets","description":"Manage your collaboratory buckets"},{"name":"permalinks","description":"Permalinks are **public and immutable** links to a bucket object"},{"name":"datasets","description":"Access KG datasets through the data-proxy"},{"name":"acl","description":"Functionalities for specific service accounts with extended privileges"},{"name":"admin","description":"Administration admins. You need to be a global administrator of the system to execute those"},{"name":"deprecated","description":"Deprecated endpoints which are still functional for backwards compatibility. Please update as soon as possible!"}]}